<div game class="@(_isRunning ? "active": string.Empty)">
	<div style="background: url(images/background.png); background-repeat: repeat; display: inline-block">
		<svg width="@_width" height="@_height" viewBox="0 0 @_width @_height"
			 @onmousemove="MouseMove" @onclick="PlayGame" @ontouchstart="PlayGame">

			@if (_isRunning)
			{
				@foreach (var currentView in GameEnvironment.GameObjects)
				{
					if (currentView is not RenderGameObject renderGameObject)
						continue;

					<svg>
						@RenderWidget(renderGameObject)
					</svg>
				}

				<svg>
					<text x="8" y="20" fill="red">FPS: @_fpsCount</text>
				</svg>

				@if (_showCollider)
				{
					foreach (var currentView in GameEnvironment.GameObjects)
					{
						if (currentView is ICollider coll && coll.IsColliderActive)
						{
							<polygon points="@coll.ColliderPolygon.ToSvgString()" fill="none" stroke="yellow" stroke-width="2" />
						}
					}
				}
			}
		</svg>
	</div>

	@if (!_isRunning)
	{
		<span start-label>TOUCH TO START</span>
	}
</div>